<nav>
  <div class="_navbarOuter">
    <div class="_navbarInner">
      <div class="left">
        <img width="6%" height="6%" src="/assets/preview.png" alt="pic" />
        <i onclick="openMenu()" class="bi bi-three-dots-vertical"></i>
      </div>

      <div class="right">
        <i onclick="closeMenu()" class="bi bi-x-square-fill"></i>
        <ul class="list">
          <li>
            <a href="/"><i class="bi bi-people"></i>Customers</a>
          </li>
          <li>
            <a href="/"><i class="bi bi-truck-front"></i>Vehicles</a>
          </li>
          <li>
            <a href="/"><i class="bi bi-person-gear"></i>My Profile</a>
          </li>
          <li>
            <a href="/admin/dashboard/logout"
              ><i class="bi bi-box-arrow-left"></i>Logout</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
